.cbp-bislideshow { list-style: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; padding: 0; margin: 0; }
.cbp-bislideshow li { position: absolute; width: 100%; height: 100%;top: 0; left: 0; opacity: 0; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; transition: opacity 1s; }
.backgroundsize .cbp-bislideshow li { -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-position: center center; }
.backgroundsize .cbp-bislideshow li img { display: none; }
.cbp-bislideshow li img { display: block; width: 100%; }
span.cbp-biplay:before { content: "\e002"; }
span.cbp-bipause:before { content: "\e003"; }
span.cbp-binext:before { content: "\e000"; }
span.cbp-biprev:before { content: "\e001"; }
.cbp-bicontrols span.cbp-binext { float: right; }
.no-js.no-backgroundsize .cbp-bislideshow li:first-child { opacity: 1; }
.no-js.backgroundsize .cbp-bislideshow li:first-child img { display: block; }
