.room-desc ul li {
    background: url(../images/icCheck.png) no-repeat 0 5px;
    text-align: left;
    padding:4px 0 0 20px;
}
.room-desc ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}
.promotions.deals{
    background: #01a0db!important;
    color: #fff;
}
.deals .time_early_bird .col-h .hours,
.deals .time_early_bird .col-h .minutes,
.deals .time_early_bird .col-h .seconds,
.deals .time_early_bird .col-h{
	color: #EFB048
}
.text-rate{
    color: #000;
    text-align: right;
    padding-top: 3px;
}
#thawteseal{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}