<table style="font-size: 12px;font-family:arial,sans-serif;width:825px;margin:0 auto;" border="0" cellspacing="0" cellpadding="0" >
    <tr style="height:19.95pt">
        <td align="center" style="width:100%;padding: 0 10px 10px 10px;font-size: 12px;font-family:arial,sans-serif;text-align:center;margin:0 auto;">
            <a href="~~link_website~~">
                ~~logo~~
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" style="width:100%;padding: 10px;height:19.95pt;font-size: 12px;text-align:center;margin:0 auto;">
            <h1 style="font-size:18px;font-family:arial,sans-serif;margin:0;">~~hotel_name~~</h1>
            <span style="font-family:arial,sans-serif;font-size: 12px;">
                Address: ~~address~~
            </span>
            <br>
            Phone: ~~phone~~ - Email: <u><span style="color:blue"><a href="mailto:~~email~~">~~email~~</a></span></u><br>
            Website: <u><span style="color:blue">
            <a target="_blank" href="~~link_website~~">~~link_text~~</a>
            </span></u> <br> 
    </td></tr>
</table>

<table style="width: 825px;margin:0 auto;;border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="middle" style="text-align:left;font-size:12px;font-family:arial,sans-serif;padding:10px 3px 5px 3px;border-top:1px solid #000;">
            <strong>CANCELLATION LETTER</strong>
        </td>
    </tr>    
    <tr>
        <td valign="middle">
            <table width="100%" border="0" style="border-collapse:collapse;" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" width="150px" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;"><strong>Attention to:</strong></td>
                    <td align="left" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                        ~~gender~~. ~~first_name~~ ~~last_name~~
                    </td>
                </tr>
                <tr>
                    <td align="left" width="150px" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;"><strong>Contact Email:</strong></td>
                    <td align="left" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;;border-collapse:collapse;">
                        <a href="mailto:~~booked_email~~" target="_blank">~~booked_email~~</a>
                    </td>
                </tr>
                <tr>
                    <td align="left" width="150px" valign="middle" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                        <strong>Reservation number:</strong>
                    </td>
                    <td align="left" valign="middle" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                        <strong>#~~reservation_number~~</strong>
                    </td>
                </tr>
                <tr>
                    <td align="left" width="150px" valign="middle" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                        <strong>Tel:</strong>
                    </td>
                    <td align="left" valign="middle" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                        <strong>~~booked_phone~~</strong>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-style: italic;font-size: 12px;font-family:arial,sans-serif;padding:5px 3px 15px 3px;border-collapse:collapse;">
            Thank you for choosing <span style="color:red">~~hotel_name~~</span>. We are pleased to confirm the booking as below: 
        </td>
    </tr>
</table>

<table style="width: 825px;margin:0 auto;;border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="middle" style="border-collapse:collapse;border:1px solid #000000;">
            <table width="100%" border="0" cellpadding="10" cellspacing="0" style="font-size: 12px;font-family:arial,sans-serif;border-collapse:collapse;">
                <tbody>
                    
                    <tr>
                        <td colspan="9" style="padding:0">
                        ~~html_list~~
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" align="left" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                            ~~specialRequest~~
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" align="left" style="font-size: 12px;font-family:arial,sans-serif;padding:5px 3px;border-collapse:collapse;">
                            ~~term~~
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
