<table border="0" cellpadding="10" cellspacing="0" width="600">
    <tr>
    	<td style="width:156px;~~background_email~~">
            <a href="http://onlinesolutions.vn/~~hotel~~.html" title="~~hotelname~~" target="_blank">
                <img with="156" height="70" src="https://onlinesolutions.vn/images/~~logo~~"/>
            </a>
        </td>
        <td>
        	<h1 style="font-size:18px;font-family:arial, tahoma;margin-top:13px;"><?php echo $hotel_name; ?></h1>
        </td>
    </tr>
    <tr>
    	<td height="20" style="font-family: arial, tahoma;font-size:12px;" colspan="2">
            Dear <b>~~fullname~~,</b>
        </td>
    </tr>
    <tr>
    	<td style="font-family: arial, tahoma;font-size:12px;line-height:20px;" colspan="2">
			Warm greetings from ~~chainname~~!<br><br> 
			Thank you for choosing ~~hotelname~~ for your coming stay in Ho Chi Minh City, Vietnam!<br><br>
			Kindly provide us the below information of the credit card that ends with ~~cardnumber~~ to guarantee your reservation of #~~bookingid~~ with the arrival on the ~~checkin~~ <br><br>
			- CVV:<br><br>
			- Expiry date:<br><br>
			Your reservation will be released within 48 hours if we did not receive the above details.<br>
			We are looking forward to hear from you and meanwhile, we remain at your disposal for further assistance.<br><br>
			Wish you have a great day.
            <p><strong><i>Notes: Please reply to email ~~email_reply~~</i></strong></p>
        </td>
    </tr>
</table>